<div mat-dialog-title>
   Edit Preventive Maintenance Details
    <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>

<!-- <section > -->

    <!-- <div class="col-md-12"> -->
        <form [formGroup]="addEditForm" mat-dialog-content>
    
           
              
              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Month</mat-label>
                <input matInput readonly  formControlName="month" type="text"   />
              </mat-form-field>

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Type</mat-label>
                <input matInput  readonly formControlName="type" type="text"   />
              </mat-form-field>

            

              
    
              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Location</mat-label>
                <input matInput  readonly formControlName="location" type="text"   />
              </mat-form-field>
    
              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Escalator Id</mat-label>
                <input matInput  readonly formControlName="escalatorId" type="text"   />
              </mat-form-field>

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Job No</mat-label>
                <input matInput  readonly formControlName="jobNo" type="text"   />
              </mat-form-field>
    
              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Report No</mat-label>
                <input matInput   formControlName="reportno" type="text"   />
              </mat-form-field>
    
              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Planned Date</mat-label>
                <input matInput   formControlName="plannedDate" type="date"   />
              </mat-form-field>

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Completed Date</mat-label>
                <input matInput   formControlName="completedDate" type="date"   />
              </mat-form-field>

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Replacement Date</mat-label>
                <input matInput   formControlName="replacement_date" type="date"   />
              </mat-form-field>

              

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Components Replaced</mat-label>
                <input matInput   formControlName="componentsReplaced" type="text"   />
              </mat-form-field>

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Parts Description</mat-label>
                <input matInput   formControlName="partsDescription" type="text"   />
              </mat-form-field>
    

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Qty</mat-label>
                <input matInput   formControlName="qty" type="text"   />
              </mat-form-field>
    

              <mat-form-field class="col-md-6 pt-2" appearance="outline">
                <mat-label class="">Remarks</mat-label>
                <input matInput   formControlName="remarks" type="text"   />
              </mat-form-field>
    
    
              
              
              
    
             
    
    </form>
    <!-- </div> -->
    
 
<!-- </section> -->
<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
    <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
        Cancel
    </button>
    <button mat-raised-button class="btnnn-prime-fn" (click)="save()">
        Save
    </button>
</div>