/* 
 th {
    border: 1px solid #dddddd;
    text-align: left;
    color: white;
    padding: 8px;
    background-color: #3f51b5;
    text-align: center;

  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  table{
    width: 80rem;

  }
  
  td{
    text-align: center;
  } */