<div class="col-md-12">
    <div class="page-title"> Upload Excel Preventive Maintenance Datas </div>
    <div class="spinner__loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="row pt-2" >
        <div class="col-md-10 mt-2 p-0 pl-3 mb-2"></div>
        <div class="col-md-2 p-0 example-button-container" >
           
            <button mat-raised-button class="btnnn-prime-fn"  routerLink="/preventive-maintenance">
                <mat-icon class="pt-1">keyboard_backspace</mat-icon>  Back
            </button>
        </div>
      </div>
   

    <div class="col-lg-6 col-sm-6 col-md-12 box pull-left mb-2" *ngIf="view != 'true'">
        <div class="row">
            <div class="col-md-6">
                <div style="text-align: center;padding-top: 60px;">
                    <img src="assets/images/upload_icon.png"
                        class="rounded-circle z-depth-1-half avatar-pic" alt="upload image" mat-responsive />
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 50px">
                
                    <div class="upload-btn-wrapper">
                        <button class="btn">Choose Excel File</button>
                        <input (change)="onFileChange($event)" type="file"  />
                    </div>
                    <p>
                        <b>{{ lableName }}</b>
                    </p>

                      <mat-form-field class="pt-2" appearance="outline">
                        <mat-label class="">Month </mat-label>
                        <input matInput  type="month"   [(ngModel)]="createMonth"/>
                      </mat-form-field>

                  
                      
                          <mat-form-field class="pt-2" appearance="outline">
                            <mat-label for="">Type</mat-label>
                            <mat-select  [(ngModel)]="type">
                              <mat-option value="LIFT">LIFT</mat-option>
                              <mat-option value="ESCALATOR">ESCALATOR</mat-option>
                            </mat-select>
                          </mat-form-field>


                          <div mat-dialog-actions style="float: right;" class="pull-right mb-2">
                         
                            <button mat-raised-button class="btnnn-prime-fn" (click)="save()">
                                Save
                            </button>
                        </div>
                     
              
            </div>
        </div>
    </div>


    <div class="mat-table-container" id="test1" #test1>

        <table mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> key </th>
                <td mat-cell *matCellDef="let element"> {{element?.key}} </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> location</th>
                <td mat-cell *matCellDef="let element"> {{element?.location}} </td>
            </ng-container>

            <ng-container matColumnDef="escalatorId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> escalator Id</th>
                <td mat-cell *matCellDef="let element"> {{element?.escalatorId}} </td>
            </ng-container>

            <ng-container matColumnDef="jobNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> job No</th>
                <td mat-cell *matCellDef="let element"> {{element?.jobNo}} </td>
            </ng-container>

            <ng-container matColumnDef="plannedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> planned Date</th>
                <td mat-cell *matCellDef="let element"> {{element?.plannedDate|date}} </td>
            </ng-container>

            <ng-container matColumnDef="completedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> completed Date</th>
                <td mat-cell *matCellDef="let element"> {{element?.completedDate}} </td>
            </ng-container>


            <ng-container matColumnDef="componentsReplaced">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> components Replaced</th>
                <td mat-cell *matCellDef="let element"> {{element?.componentsReplaced}} </td>
            </ng-container>

            <ng-container matColumnDef="partsDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> parts Description</th>
                <td mat-cell *matCellDef="let element"> {{element?.partsDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="reportno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> report no</th>
                <td mat-cell *matCellDef="let element"> {{element?.reportno}} </td>
            </ng-container>


            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> qty</th>
                <td mat-cell *matCellDef="let element"> {{element?.qty}} </td>
            </ng-container>

            
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Edit"   (click)="editRecord(element)">
                        <mat-icon class="edit-mat-icon">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Delete"   (click)="deleteRecord(element)">
                        <mat-icon class="delete-mat-icon">delete</mat-icon>
                    </button>
                </td>
            
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"  [ngClass]= "{'formFieldAdded': element.key && element.key == 'true'}"></tr>
        </table>
        <mat-paginator [pageSize]="PAGE_SIZE" [pageSizeOptions]="PAGINATION_RANGE" showFirstLastButtons></mat-paginator>
    </div>
   
</div>